.podcast_header_container {
  width: 100%;
  height: 100%;
  padding: 5rem 4rem;
  background: url("../../../public/images/podcast_header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 5rem;
  .podcast_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-left: 20px solid #1ad993;
    min-height: 30vh;
    padding: 8rem 2rem;
    span {
      margin-bottom: 1rem;
      color: white !important;
    }
    h2 {
      margin-bottom: 1rem;
      color: white !important;
    }
    p {
      margin-bottom: 1rem;
      color: white !important;
    }
    .btn_container {
      button {
        color: white !important;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .podcast_header_container {
    padding: 10rem 2rem 5rem 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .podcast_header_container {
    padding: 10rem 1rem 5rem 1rem;
    .podcast_container {
      padding: 4rem 1rem;
    }
  }
}
